.page{
    height: 100vh;
}
.relative{
    position:  fixed;
    top :10px;
}
.sticky{
    position: sticky;
    top: 10px;
}
.flex-container{
    display: flex;
    background-color: aqua;
    border: 10px solid rgb(228, 72, 72);
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: row-reverse; */
    
}
.flex-container div{
    background-color: lightblue;
    border: 5px solid rgb(56, 13, 137);
    margin: 10px;
    padding: 20px;
    height: 10vh;
    width: 20vh;
}
.two{
    /* flex-grow: 2; */
    flex-shrink: 2;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(239, 97, 97);
    list-style: none;
    align-items: center;
    height: 10vh;
}
.grid-container{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}
.grid-container div{
    border: 2px solid green;
    background-color: aquamarine;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.box2{
    grid-row-start: 2;
    grid-row-end: 4;
}
@media (max-width: 600px) {
    .nav{
        display: flex;
        flex-direction: column;
    }
}